.name-wrapper{
    display: inline-block;
    width: 60%;
}

.value-wrapper{
    display: inline-block;
    width: calc(40% - 20px);
}

.trash-wrapper{
    width: 20px;
    display: inline-block;
}

.value, .name, .trash{
    width: 100%;
}

.trash{
    text-align: right;
}

.plus-icon{
    float: right;
    clear: both;
}