<div class="specs_group" [formGroup]="specs_group">
  <div formArrayName="specs" class="form-element">
    <div class="specs"><span style="font-size: 13px;">Specifications</span> <span class="fa fa-plus-square-o plus-icon" (click)="add_spec()"></span></div>
    <div class="specs-array" *ngFor="let spec of specs.controls; index as k" [formGroupName]="k">
      <div class="specs-input">
        <div class="name-wrapper">
          <input class="name" type="text" placeholder="spec name" formControlName="name">
        </div>
        <div class="value-wrapper">
          <input class="value" type="text" placeholder="value" formControlName="value">
        </div>
        <div class="trash-wrapper">
          <span class="fa fa-trash-o trash" (click)="delete_spec(k)"></span>
        </div>
      </div>
    </div>
  </div>
</div>