#list-title{
  position: relative;
}


.list-item-wrapper{
  width: 50%;
  height: 150px;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  float: left;
}

.list-item-inner{
  background : bisque;
  height: inherit;
  margin: 5px;
}

#list-title-wrapper{
  height: 100px;
  background-color : rosybrown;
  margin-bottom: 20px;
  padding: 20px 10px;
}

#list-wrapper{
  text-align: center;
}


@media screen and (min-width : 764px){
  .list-item-wrapper{
    width: calc(100% / 3);
  }

}

@media screen and (min-width : 964px){
  .list-item-wrapper{
    width: calc(100% / 4);
  }
}


