<div *ngIf="(data$ | async) as data">
    <div *ngIf="data">
        <div id="list-title-wrapper">
            <div id="list-title">{{data.heading}}</div>
        </div>
        <div id="list-wrapper">
            <div class="list-item-wrapper" *ngFor="let item of data.data">
                <div class="list-item-inner" (click)="visit(item.name, data.heading)">
                   <div>{{item.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    dfsd
</div>