<div id="backdrop" (click)="toggle_sidebar()" [style.visibility]="sidebar_open?'visible':'hidden'"></div>
<div id="sidebar-wrapper" [style.background-color]="color" [style.right]="sidebar_open?'0px':'-240px'">
  <div id="sidebar-inner">
    <div id="sidebar-contents">
      <div id="icon-wrapper">
        <div id="icon-inner">
          <img (click)="navigate('user/account/profile')" src="../../../../assets/user_icon.png" id="icon">
        </div>
      </div>
      <div id="username">Bisque</div>
      <div id="link-wrapper">
        <ul id="option-list">
          <li>
            <form #shopCreationForm="ngForm" (ngSubmit)="createShop(shopCreationForm)">
                <input type="text" placeholder="shop name" required minlength="5" name="shopName" ngModel>
                <input type="submit" value="ok">
            </form>
          </li>
          <li><span (click)="navigate('/create-shop')">Create Shop</span></li>
          <li><span (click)="navigate('/admin')">Manage Shop</span></li>
          <li (click)="navigate('/user/account/finance')">Finance</li>
          <li (click)="navigate('/user/account/settings')">Settings</li>
          <li (click)="logout()">Sign Out</li>
        </ul>
      </div>
    </div>
  </div>
</div>