#sidebar-wrapper{
    width: 220px;
    height: 100vh;
    background-color: #119ebd;
    position: fixed;
    z-index: 15000;
    transition: .2s linear;
    max-width: calc(100vw - 15px);
    color: white;
}

#option-list li{
    margin:9px 0;
}

#sidebar-inner{
    margin: 20px 10px;
	position: relative;
}

#sidebar-contents{
    position: absolute;
    top: 10px;
    width: 100%;
}

#nav-wrapper{
    position: relative;
}

#nav-container{
    position: absolute;
    right: 20px;
}

#backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    visibility: hidden;
    z-index: 11000;
}

#icon-wrapper{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

#icon-inner{
    width: inherit;
    height: inherit;
    border-radius: 200px;
    overflow: hidden;
}

#icon-inner img{
    width: 100%;
    height: 100%;
}

#username{
    font-size: 16px;
    text-align: center;
}

#link-wrapper{
    margin-top: 30px;
}

@media screen and (min-width: 768px){
    #sidebar-wrapper, #backdrop{
        display: none;
    }
}

