#view-title{
  position: relative;
}


.view-item-wrapper{
  width: 50%;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  float: left;
}

.view-item-inner{
  height: inherit;
}

#view-title-wrapper{
  height: 100px;
  background-color : rosybrown;
  margin-bottom: 20px;
  padding: 20px 10px;
}

#view-wrapper{
  text-align: center;
}

@media screen and (min-width : 664px){
  .view-item-wrapper{
    width: calc(100% / 3);
  }

}

@media screen and (min-width : 964px){
  .view-item-wrapper{
    width: calc(100% / 4);
  }
}


