<div *ngIf="(data$ | async) as data">
    <div *ngIf="data">
        <div id="view-title-wrapper">
            <div id="view-title">{{data.heading}}</div>
        </div>
        <div id="view-wrapper">
            <div class="view-item-wrapper" *ngFor="let item of data.data">
                <div class="view-item-inner">
                    <product [product]="item" [alter_width]="'inherit'"></product>
                </div>
            </div>
        </div>
    </div>
</div>