.form-error-msg{
    color: red;
    font-size: 12px;
    text-align: left;
}

.background{
    position:fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: url(../../../../assets/pineapple.svg), linear-gradient(to bottom, purple , #0ebfe2);
    z-index: 2;
    
}

.main-content-area{
    z-index: 10;
}

.form-container{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding : 3px 15px;
    min-width: 300px;
    max-width: 500px;
    background-color: white;
    opacity: 1;
    border-radius: 5px;
}


#email-field input, #password-input-wrapper{
    width: 100%;
    text-align: center;
    border:none;
    background-color: rgb(221, 240, 248);
    font-size: 12px;
    font-weight: 200px;
    height: 25px;
}

#password-input{
    width: calc(100% - 20px);
    border: none;
    text-align: center;
    background-color: inherit;
    height: inherit;
}

#sign-in-btn:hover{
    background-color: skyblue;
    color:white;
}

legend{
    margin-top: 30px;
} 

#password-field, #email-field{
    margin: 5px 0;
}

#sign-up-field{
    font-weight: 100;
    font-size: .8em;
    margin-top: 15px;
}
