<div class="main-grid">
  <div class="main-content-area">
    <div class="form-container">
      <form #sign_in_form="ngForm" [formGroup]="si_form" (ngSubmit)="sign_in()">
        <fieldset>
          <legend>acquire</legend>
          <p style="text-align: center;">{{signInError}}</p>
          <div id="email-field">
            <input type="text" placeholder="enter your email" formControlName="email" />
            <div class="form-error-msg" *ngIf="email.invalid && email.touched">*email is required</div>
          </div>
          <div id="password-field">
            <div id="password-input-wrapper">
              <input id="password-input" [type]="password_visibility?'text':'password'" placeholder="enter your password" formControlName="password" />
              <span class="fa fa-eye" (click)="show_password()"></span>
            </div>
          </div>
          <div style="margin-top: 20px;">
            <input type="submit" value="Sign In" style="border-radius:10px; border: none; width: 100px;" id="sign-in-btn">
          </div>
        </fieldset>
      </form>
      <div id="sign-up-field">
        <a routerLink="/sign-up">Don't have an account? Sign Up</a>
      </div>
    </div>
  </div>
</div>
<div class="background"></div>