.main-grid{
    display: grid;
    grid-template-columns: 30px 1fr 250px;
    grid-template-rows: 90px 1fr;
    grid-template-areas: ". . ."
                         ". main-content-area ."
}

.main-content-area{
    grid-area : main-content-area;
}

.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas: "general-info general-info"
                         "description files"
                         "specs department"
}

.general-info{
    grid-area: general-info;
}

.specs{
    grid-area: specs;
}

.size-quantity{
    position: relative;
    grid-area: size-quantity;
}

.department{
    grid-area: department;
}

.files{
    grid-area: files;
} 

.description{
    grid-area: description;
}

.display-image-wrapper, .angle-images-wrapper{
    width: 49%;
    height: 250px;
    float: left;
}

img{
    width: 100%;
    height: 200px;
}
textarea{
    width: 90%;
    height: 60%;
}

.general-info input{
    margin-right: 10px;
}