#navbar-wrapper{
  background-color: #119ebd;
  height: 80px;
  position: fixed;
  width: 100vw;
  z-index: 8000;
  color: white;
}

#nav-inner{
  margin: 0 10px;
  margin-top: 20px;
  position: relative;
}

#user-links li{
  display: inline-block;
  margin-right: 10px;
}

#dropdown-menu{
  position: absolute; 
  top: 30px; 
  right: -7px;  
  width: 140px; 
  background-color: lightgrey;
  visibility: hidden;
}


#left-column, #center-column, #right-column{
  position: relative;
}

#left-column, #center-column{
  float: left;
  margin-right: 10px;
}

#right-column{
  float: right;
}

#registration-links, #search-icon, .registration-link-item{
  display: inline-block;
  margin-left: 10px;
}

#return-wrapper{
  float: left;
  margin-right: 10px;
  color: lightgray;
  margin-top: 5px;
}

#search-input{
  width: calc(100% - 50px);
  border:none;
  border-bottom: 1px solid rgb(172, 172, 172);
  outline: none;
  background-color: inherit;
}


#nav-links{
  display: inline-block;
  margin: 0;
}

.search-inactive{
  display: none;
}

#acquire:hover, .link-item:hover, .registration-link-item:hover, .user-link-item:hover{
  cursor: pointer;
  color: rgb(4, 4, 58);
}

#user-icon{
  display: none;
}

@media screen and (min-width:768px){
  #search-icon{
    display: none;
  }

  #dropdown-menu{
    visibility: visible;
  }

  #nav-inner{
    margin-right: 24px;
  }

  #nav-links{
    position: absolute;
    bottom: -25px;
  }

  #search-wrapper{
    width: 400px;
  }

  #search-input{
    border: 1px solid rgb(172, 172, 172);
    background-color: whitesmoke;
  }

  #search-input:focus{
    border-color : white;

  }

  #menu-icon{
    display: none;
  }

  #user-icon{
    display: inline;
  }
}

@media screen and (min-width:964px){

  #navbar-wrapper{
    height: 70px;
  }


  #acquire{
    font-size: 20px;
  }

  #left-column{
    margin-right: 5%;
    margin-left: 10px;
  }

  #right-column{
    margin-right: 20px;
  }
}


