<nav id="navbar-wrapper" (window:load)="check_screen_width()" (window:resize)="check_screen_width()">
  <div id="nav-inner">
    <div id="left-column">
      <div routerLink="home" id="acquire" *ngIf="!show_search">acquire</div>
    </div>
    <div id="center-column" [style.float]="show_search?'none':'left'">
      <div id="return-wrapper" *ngIf="show_search">
        <span class="fa fa-arrow-left" (click)="toggle_show_search()"></span>
      </div>
      <div id="search-wrapper" *ngIf="show_search || screen_width > 764" style="border-radius: 20px; background-color : whitesmoke; padding-left: 20px; padding-right: 5px; height: 25px">
        <form [formGroup]="search_form" (ngSubmit)="send_query()" style="height: inherit">
          <input type="text" id="search-input" placeholder="I'm looking for..." formControlName="query"
          [value]="!query ? last_search : query.value" style="width : calc(100% - 20px); background-color: inherit; border : none; height: inherit;">
          <span style="color:lightgray" class="fa fa-search" (click)="send_query()"></span>
        </form>
      </div>
  
      <ul id="nav-links" *ngIf="!show_search">
        <li 
          *ngFor="let window of windows_list; index as i" 
          style="display: inline-block; margin-right: 10px;" 
          (click)="visit_window(i)">{{window.name}}
        </li>
      </ul>
  
    </div>
    
    <div id="right-column" *ngIf="!show_search">
      <div id="search-icon" (click)="toggle_show_search()"><span class="fa fa-search"></span></div>
      <div id="registration-links">
        <ng-template [ngIf]="(login_status_check$ | async)" let-login_status>
          <div *ngIf="!login_status.status; else logout">
              <div routerLink="/sign-in" class="registration-link-item">sign In</div>
              <button routerLink="/sign-up" *ngIf="screen_width > 764" class="fa fa-user registration-link-item">Sign Up</button>
          </div>
        </ng-template>
        <ng-template #logout>
          <ul id="user-links">
            <li>
              <span class="fa fa-bell user-link-item"></span>
            </li>
            <li (click)="sidebar_pane_handler(0)">
              <span class="fa fa-shopping-basket user-link-item"></span>
            </li>
            <li>
              <div style="position: relative">
                <div>
                  <span id="user-icon" class="fa fa-user user-link-item" (click)="toggle_user_options($event)"></span> 
                  <div id="menu-icon"><span class="fa fa-bars" (click)="toggle_sidebar()"></span></div>
                </div>
                <div *ngIf="user_options_state" id="dropdown-menu">
                  <span style=" position: absolute; right: 7px; top: -12px; color : rgb(195, 195, 195);" class="fa fa-caret-up"></span>
                  <ul style="padding: 5px 10px;">
                    <li class="user-link-item" routerLink = "account/profile">profile</li>
                    <li class="user-link-item" routerLink = "/admin">manage shop</li>
                    <li class="user-link-item" (click)="logout_handler()" class="user-link-item">logout</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</nav>

