<div id="general-info-wrapper">
        <div><span class="fa fa-info" style="margin-right: 4px;"></span>general</div>
        <ul id="general-info-list">
                <li>
                        <div>username</div>
                        <input type="text" readonly style="font-size: 13px; font-weight: 350"
                                [value]="username?username:'unknown'">
                </li>
                <li>
                        <div>lastname</div>
                        <input type="text" readonly style="font-size: 13px; font-weight: 350"
                                [value]="lastname?lastname: 'unknown'">
                </li>
                <li>
                        <div>firstname</div>
                        <input type="text" style="font-size: 13px; font-weight: 350"
                                [value]="firstname?firstname: 'unknown'">
                </li>
                <li>
                        <div>gender</div>
                        <input type="text" style="font-size: 13px; font-weight: 350" [value]="gender?gender: 'unknown'">
                </li>
                <li>
                        <div>age</div>
                        <input type="text" style="font-size: 13px; font-weight: 350" [value]="age?age: 'unknown'">
                </li>
                <li>
                        <div>height</div>
                        <input type="text" style="font-size: 13px; font-weight: 350"
                                [value]="height? height: 'unknown'">
                </li>
                <li>
                        <div>email</div>
                        <input type="text" style="font-size: 13px; font-weight: 350" [value]="email? email: 'unknown'">
                </li>
        </ul>
</div>

<div style="position: relative">
        <span class="fa fa-puzzle-piece"></span>preferences
        <span style="position: absolute; right : 5px; font-size : 13px">empty
                <span class="fa fa-plus-square-o"></span></span>
</div>
<div style="position: relative">
        <span class="fa fa-bell-o"></span>notifications
        <span style="position: absolute; right : 5px; font-size : 13px">empty
                <span class="fa fa-plus-square-o"></span></span>
</div>