#general-info-wrapper{
    background-color: whitesmoke;
}

#general-info-list{
    padding: 0 10px;
}

#general-info-list li{
 display: inline-block;
 font-size: 13px;
 font-weight: 300;
 width: 50%;
 padding-right: 8px;
 margin-bottom: 14px;
}

.fa-plus-square-o{
    padding : 5px;
    border-radius: 3px;
}

.fa-plus-square-o:hover, .fa-plus-square-o:active{
    background-color: rgb(221, 221, 221);
    transition: 2.s linear
}

#general-info-list li input{
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}