<div [formGroup]="size_quantity_group">
<div formArrayName="count">
    <div class="size-quantity-header">size and quantity<span class="fa fa-plus-square-o" (click)="add_count()"></span></div>
  <div *ngFor="let count of count.controls; index as j" [formGroupName]="j">
    <div class="size-quantity-wrapper">
        <input class="size-input" type="text" placeholder="size" formControlName="size">
        <input class="quantity-input" type="number" placeholder="qty" formControlName="quantity">
        <span class="fa fa-trash-o" (click)="remove_count(j)"></span>
    </div>
  </div>
</div>
</div>