
 <div *ngIf="(product$ | async) as product">
    <div id="image-wrapper">
      <div id="view-angle-outer">
          <div id="view-angle-grid">
              <div class="slide-up" (click)="slide_up()">
                <span class="fa fa-caret-up"></span>
              </div>
              <div class="view-angle-inner">
                <div *ngFor="let item of items" class="view-angle-image-wrapper" [style.top]="current_item_position+'px'">
                <img src="{{dbUrl}}/file/{{item}}" class="image" alt="">
                </div>
              </div>
              <div class="slide-down" (click)="slide_down()">
                <span class="fa fa-caret-down"></span>
              </div>
            </div>
      </div>
      <div id="main-image-wrapper">
      <img src="{{dbUrl}}/file/{{product.display_image}}">
      </div>
    </div>
    <div id="product-info">
      <div class="title">{{product.title}}</div>
      <div class="price">{{product.list_price}}</div>
      <div class="shop">{{product.retailer}}</div>
      <div class="summary">
        <div>Summary</div>
        <p>
          It is a long established fact that a
          reader will be distracted by the readable
          content of a page when looking at its layout.
          The point of using Lorem Ipsum is that it has a
        </p>
      </div>
      <div class="purchase">
        <app-transact [product]="product"></app-transact>
      </div>
    </div>
  </div>
  <div class="additional-info">
    <div id="recomendations">
      <app-slider [title]="'electronics'"></app-slider>
    </div>
    <div class="product-description">
      <section>
        <h6>Description</h6>
        <div>
          Contrary to popular belief, Lorem Ipsum is not
          simply random text. It has roots in a piece of
          classical Latin literature from 45 BC, making it over
          2000 years old. Richard McClintock, a Latin professor
          at Hampden-Sydney College in Virginia, looked up one
          of the more obscure Latin words, consectetur, from a
          Lorem Ipsum passage, and going through the cites of
          the word in classical literature, discovered the
          undoubtable source. Lorem Ipsum comes from sec
        </div>
      </section>
      <section>
        <h5>Manufacturer info</h5>
        <div>
          There are many variations of passages of Lorem Ipsum
          available, but the majority have suffered alteration
          in some form, by injected humour, or randomised words
          which don't look even slightly believable. If you are
          going to use a passage of Lorem Ipsum, you need to
          be sure there isn't anything embarrassing hidden in
          the middle of text. All the Lorem Ipsum generators
          on the Internet tend to repeat predefined chunks as
          necessary
        </div>
      </section>
      <section>
        <h5>Dimensions</h5>
        <div>
          There are many variations of passages of Lorem Ipsum
          available, but the majority have suffered alteration
          in some form, by injected humour, or randomised words
          which don't look even slightly believable. If you are
          going to use a passage of Lorem Ipsum, you need to
          be sure there isn't anything embarrassing hidden in
          the middle of text. All the Lorem Ipsum generators
          on the Internet tend to repeat predefined chunks as
          necessary
        </div>
      </section>
    </div>
  </div>