#view-angle-grid{
  display: grid;
  grid-template-columns : 100%;
  grid-template-rows : 20px 1fr 20px;
  grid-template-areas:  "slide-up"
                        "view-angle-inner"
                        "slide-down"
}

.view-angle-inner{
  grid-area: view-angle-inner;
  overflow: hidden;
  background-color: rgb(231, 231, 231);
  max-height: 197px;
}

#view-angle-outer{
  max-width: 100px; 
  width: 20%; 
  height: 100%; 
  float: left;
}

#image-wrapper{
  height: 238px;
  display: inline-block;
}

#product-info{
  position: relative;
  padding : 10px;
  overflow: hidden;
}

.slide-up{
  grid-area: slide-up;
  text-align: center;
  background-color: rgb(231, 230, 230);
  border-radius: 4px 4px 0px 0px

}

.slide-down{
  grid-area: slide-down;
  text-align: center;
  background-color: rgb(231, 230, 230);
  border-radius: 0px 0px 4px 4px
}

.view-angle-image-wrapper img {
  width : 100%;
  height: auto;
}

.view-angle-image-wrapper{
  position: relative;
  transition: .2s linear;
}

#main-image-wrapper{
  float: left;
  width: 80%;
  height: 100%;
  max-width: 300px;
}


#main-image-wrapper img{
  height: 100%;
  width: 100%;
}

.product-description{
  text-align: center;

}

.title, .price, .shop {
  margin: 7px 0px;
}
.title{
  font-size: 18px;
}

.price{
  font-size: 15px;
  float: left;

}

.shop{
  font-size: 13px;
  float: right;
}

.purchase{
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.summary{
  clear: both;
}

.summary p {
  max-height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}

section {
  margin: 30px 0px;
  float: center;
}

@media screen and (min-width : 559px){
  .shop{
    float: right;
  }

  #product-info{
    width: calc(100% - 430px);
    float: right;
  }
 
}

@media screen and (min-width : 924px){

  .shop{
    float: none;
  }

  .price{
    float: none;
  }
 
}