#image-display-area{
    background-color: whitesmoke;
    height:  250px;
}

.image-header{
    font-size: 13px;
}

form{
    font-size: 12px;
}

input{
    border: none;
    border-bottom: 1px solid lightgrey;

}


#display-image-wrapper, #angle-images-wrapper{
    text-align: center;
    width: 100%;
    margin: 15px 0;
}

#price-wrapper, #title-wrapper, #quantity-wrapper, #description-wrapper{
    float: left;
    margin-bottom: 15px;
}

#description-wrapper, #description-inner{
    width : 100%;
}

#price-input, #title-input, #quantity-input, #description-input{
    width: 100%;
}


#description-inner{
    width: 98%;
}

#title-wrapper{
    width: 100%;
}

#price-wrapper, #quantity-wrapper{
    width: 50%;
}


#price-inner{
    margin-left: 5px;
}

#quantity-inner{
    margin-right: 5px;
}

#features-wrapper, #department-wrapper{
    margin-bottom: 15px;
}



#files-wrapper{
    clear: both;
    margin-bottom: 15px;
}

.error-msg{
    color:red;
    font-size: 12px;
}

.success-msg{
    color:rgb(21, 209, 21);
    font-size: 12px;
}

.submit-btn{
    border-radius: 20px;
}

.submit-btn:active, .submit-btn:hover{
    background-color: grey;
    color : white;
}

@media screen and (min-width:900px){
    #price-wrapper, #title-wrapper, #quantity-wrapper, #description-wrapper{
        float: left;
    }

    #price-input, #title-input, #quantity-input{
        width: 100%;
    }

    #title-inner, #quantity-inner, #price-inner{
        margin-right: 5px;
    }


    #title-wrapper{
        width: 30%;
    }

    #price-wrapper, #quantity-wrapper{
        width: 15%;
    }

    #description-wrapper{
        width : 40%;
    }

    #files-wrapper{
        clear: both;
    }

    #display-image-wrapper, #angle-images-wrapper, 
    #features-wrapper, #department-wrapper{
        float: left;
        width: 50%;
    }

    #display-image-inner, #features-inner{
        margin-right : 5px;
    }

    #angle-image-inner, #department-inner{
        margin-left : 5px;
    }


}

