<form [formGroup]="product_form">
  <div class="general-info">
    <div id="title-wrapper">
      <div id="title-inner">
        <input type="text" placeholder="title" id="title-input" formControlName="title">
        <div class="error-msg" *ngIf="title.touched && title.invalid">*field is required</div>
      </div>
    </div>
    <div id="quantity-wrapper">
      <div id="quantity-inner">
        <input type="number" formControlName="quantity" id="quantity-input" placeholder="qty">
        <div class="error-msg" *ngIf="quantity.touched && quantity.invalid">*field is required</div>
      </div>
    </div>
    <div id="price-wrapper">
      <div id="price-inner">
        <div>
          <label>N$
            <input style="width: 80%;" type="number" formControlName="list_price" id="price-input" placeholder="price">
          </label>
        </div>
        <div class="error-msg" *ngIf="list_price.touched && list_price.invalid">*field is required</div>
      </div>
    </div>
    <ng-content select=".info-item"></ng-content>
    <div id="description-wrapper">
      <div id="description-inner">
        <textarea placeholder="short description of product..." id="description-input" rows="4"
          formControlName="description"></textarea>
        <div class="error-msg" *ngIf="description.touched && description.invalid">*field is required</div>
      </div>
    </div>
  </div>

  <div id="files-wrapper">
    <input #display_image_input type="file" accept="image/*" style="display:none" (change)="file_upload($event)">
    <div id="display-image-wrapper">
      <div id="display-image-inner">
        <h5 class="image-header">Main Image</h5>
        <div id="image-display-area" (click)="display_image_input.click()">
          <div *ngIf="display_image.value; else select_product">
            <img id="main-image" src="{{display_image.value.src}}" alt="" style="max-height: 250px; max-width: 100%;">
          </div>
          <ng-template #select_product>
            <div>click here to add image</div>
          </ng-template>
        </div>
      </div>
    </div>
    <div id="angle-images-wrapper">
      <div id="angle-image-inner">
        <app-angle-image [group]="product_form"></app-angle-image>
      </div>
    </div>
  </div>
  <div style="margin-bottom : 15px;">
    <div id="department-wrapper">
      <div id="department-inner">
        <app-department [group]="product_form"></app-department>
      </div>
    </div>
    <div id="features-wrapper">
      <div id="features-inner">
        <app-specs [group]="product_form"></app-specs>
      </div>
    </div>
  </div>
  <ng-content select=".submit-btn"></ng-content>
  <div>
    <div *ngIf="submit_result.msg" style="text-align: center; clear: both;">
      <div *ngIf="submit_result.status; else failed" class="success-msg">ggg{{submit_result.msg}}</div>
      <ng-template #failed>
        <div class="error-msg">{{submit_result.msg}}</div>
      </ng-template>
    </div>
  </div>
  <div style="text-align: center; clear: both; padding-top: 20px">
    <input class="submit-btn" type="submit" style="border: none; padding: 3px 15px;" value="add product"
      (click)="submit_form()">
  </div>
</form>