#form-box {
    padding: 10px 7px;
}

.form-error-msg{
    color: red;
    font-size: 12px;
}

.form-success-msg{
    color: green;
    font-size: 18px;
}

.title-wrapper{
    width : 70%;
    display: inline-block;
}

.title-wrapper input{
    border: none;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.quantity-wrapper{
    width : 20%;
    display: inline-block;
}

.quantity-wrapper input{
    width: 100%;
}

.delete-wrapper{
    width : 10%;
    display: inline-block;
}

.delete-wrapper button{
    padding: 0;
    width: 100%;
}

.delete:hover{
    color: red;
}

#total-cost-wrapper{
    position: relative;
}

#total-cost-input{
    position: absolute;
    right: 0;
    width: 100px;
}

#address-info{
    position: relative;
    margin-top: 24px;
}

#city-input, #erf, #street{
    width: 100%;
}

#street-wrapper{
    width: 70%;
    float: left;
}

#erf-wrapper{
    width: 30%;
    float: right;
}

#submit{
    width: 100%;
    margin-top: 20px;
}

ul{
    list-style: none;
    padding : 0;
}

.order-items-list-hidden{
    height: 0;
    overflow: hidden;
}
.order-instance-title:hover, #orders-header:hover{
    cursor: pointer;
}

.order-list-closed{
    height: 0;
    overflow: hidden;
    margin: 0;
}

.order-instance{
    margin: 0 10px;
}

.order-item{
    margin-left: 10px
}

#form_title{
    text-align: center;
    font-weight: 300;
    font-size: 15px;

}

.form_number{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 15px;
}

#address_inputs_wrapper{
    font-weight : 240;
    font-size : 14px;
}

#orders-header{
    position: relative;
    font-size: 15px;
    font-weight: 300;
    background-color:whitesmoke;
    margin: 0;
    height: 30px;
    border-bottom: 1px solid gainsboro;    
}


.order-items-list-hidden{
    display: none;
    overflow: hidden;
}
.order-instance-title, #orders-header{
    cursor: pointer;
}

.order-list-closed{
    display: none;
}

.order-instance{
    margin: 0 10px;
}

.order-item{
    margin-left: 10px;
    font-weight: 250;
    font-size: 12px;
}

.order-instance-title{
    font-weight: 290;
    font-size: 13px;
    position: relative;
}

#orders-wrapper .fa-plus-square-o {
    position: absolute;
    right: 10px;
    border-radius: 3px;
    padding: 4px;
}

#orders-wrapper .fa:hover, #orders-wrapper .fa:active{
    background-color: rgb(228, 225, 225);
    transition: 2.s linear
}


