<div id="orders-wrapper">
  <h6 id="orders-header">
    <span (click)="toggle_panel()">orders</span>
    <span (click)="move_form('form-area')" class="fa fa-plus-square-o"></span>
  </h6>
  <div id="form-area">
    <form id="order-form" [formGroup]="order_form" style="width: 100%; margin-bottom: 20px"
      (ngSubmit)="order_handler()">
      <div id="form_title">order form</div>
      <div class="form_number" *ngIf="order_number.value; else no_title">#{{order_number.value}}</div>
      <ng-template #no_title>
        <div class="form_number">new form</div>
      </ng-template>
      <div *ngIf=" item_forms.value.length ; else no_products">
        <div formArrayName="items" style="margin-bottom: 10px;">
          <div *ngFor="let item of item_forms.controls; let i=index" [formGroupName]="i" style="margin-bottom: 7px;">
            <div *ngIf="transact.item_forms.value[i].title">
              <div class="title-wrapper">
                <input type="text" formControlName="title" readonly style="background-color: inherit" />
              </div>
              <div class="quantity-wrapper">
                <input type="number" min=1 placeholder="quantity" formControlName="quantity" (click)="calculate_total()" />
              </div>
              <div class="delete-wrapper">
                <button (click)="remove_item(i)"><span class="fa fa-trash"></span></button>
              </div>
            </div>
          </div>

        </div>
        <div id="total-cost-wrapper">
          <span>total</span>
          <input type="text" name="total" [value]="total" id="total-cost-input" />
        </div>
      </div>
      <ng-template #no_products>
        <div style="height: 120px; text-align: center; padding : 20px 5px;
               background-color: rgb(251, 248, 248); font-size: 13px; font-weight: 200; color : gray">
          <div>click on the product you wish to purchase</div>
          <div>It'll be automatically added here</div>
        </div>
      </ng-template>


      <div id="address-info">
        <fieldset formGroupName="billing_address">
          <legend style="font-size: 15px; font-weight: 240;">billing address</legend>
          <div id="address_inputs_wrapper">
            <div style="margin-bottom: 16px; ">
              <input type="text" placeholder="city" id="city-input" formControlName="city" />
              <div *ngIf="city.invalid && city.touched" class="form-error-msg">billing address is required</div>
            </div>

            <div>
              <div id="street-wrapper">
                <input type="text" placeholder="street" formControlName="street" id="street" />
                <div *ngIf="street.touched && street.invalid" class="form-error-msg">*required</div>
              </div>
              <div id="erf-wrapper">
                <input type="text" placeholder="erf" formControlName="erf" id="erf" />
              <div *ngIf="erf.touched && erf.invalid" class="form-error-msg">*required</div>
              </div>
            </div>

          </div>
        </fieldset>
        <div style="margin-top: 15px">
          <input style="border: 1px solid gainsboro; 
                width: 100%; font-size: 13; font-weight: 240; text-align: center;" placeholder="password" type="password"
            formControlName="password">
          <div *ngIf="password.touched && password.invalid" class="form-error-msg">password is required</div>
        </div>
        <div>
          <div *ngIf="order_feedback.set" [ngClass]="order_feedback.status?'form-success-msg':'form-error-msg'"
            style="position: relative; font-size: 12px; text-align: center; top: 10px">{{order_feedback.message}}</div>
          <input type="submit" [disabled]="!order_form.valid" value="complete purchase" id="submit" />
        </div>
      </div>
    </form>
  </div>


  <ul *ngIf="orders" [class.order-list-closed]="panel_state">
    <li *ngFor="let order of orders.orders;" class="order-instance">
      <div class="order-instance-title">
        <span (click)="toggle_order_items()"># : {{order.order_number}}</span>
        <span class="fa fa-plus-square-o" title="add item to form"
          (click)="move_form(order.order_number, order.order_number, order.billing_address)"></span>
      </div>
      <div [class.order-items-list-hidden]="items_state">
        <ul>
          <li class="order-item" *ngFor="let item of order.order_items">
            {{item.sku}} &nbsp; <span>quantity :{{item.quantity}}</span>
          </li>
        </ul>
      </div>
      <div [id]="order.order_number">

      </div>

    </li>
  </ul>

</div>