.order-nav{
    margin: 0; 
    padding:0;
    position: fixed;
    top: 55px;
    z-index: 5500;
    color: white;
}

.order-nav li{
    display: inline-block;
    margin: 0 10px;

}

.table-order-number{
    width: 25%;
}

.table-status{
    widows: 15%;
}

.table-item{
    width: 60%;
}

.table-item, .table-status, .table-order-number{
    overflow: hidden;
    text-overflow: ellipsis;
}

thead{
    font-weight: 400;
    border-bottom: 1.2px solid rgb(179, 179, 184) ;
    background-color: rgb(10, 15, 80);
    color: white;

}

table{
    width:100%;
    border-spacing: 0;
}