<table class="table">
  <thead>
    <tr>
      <td class="table-order-number">#</td>
      <td class="table-item">location</td>
      <td class="table-status">status</td>
    </tr>
  </thead>
    <tbody *ngIf="orders;">
      <tr *ngFor="let order of orders; index as i">
        <td class="table-order-number">{{i+1}}</td>
        <td class="table-item">{{order.billing_address.city}}, &nbsp; {{order.billing_address.street}}</td>
        <td class="table-status">{{order.status}}</td>
    </tbody>
</table>
<div *ngIf="!orders;" style="text-align: center; color:lightgrey;margin-top: 20px;width:100%"><span>you have no orders</span></div>
