<div *ngIf="(search_results() | async) as results; else enter_search">
  <div class="results-header">search results {{results.length}}</div>
  <div *ngFor="let result of results">
    <div class="search-result">
      <div class="result-image">
        <img (click)="view_item(result.sku)" src="{{dbUrl}}/file/{{result.display_image}}">
      </div>
      <span class="result-title">{{result.title}}</span><br>
      <span class="result-shop">{{result.retailer}}</span><br>
      <span class="result-price">{{result.list_price}}</span><br>
      <div class="result-description">
        make a type specimen book. It has
        survived not only five centuries,
        but also the leap into electronic
        typesetting, remaining essentially
        unchanged. It was popularised in the
        1960s with the release of Letraset
      </div>
      <div class="result-purchase">
        <app-transact [product]="result"></app-transact>
      </div>
    </div>
  </div>
</div>
<ng-template #enter_search>
  <div class="results-header">Find your items here</div>
</ng-template>