.results-header{
  margin: 0 auto;
  background-color: #119ebd;
  display: flex;
  justify-content: center;
}

.search-result{
  position: relative;
  height: 20vh;
  max-height: 200px;
  min-height: 120px;
  margin: 10px 0;
}

.result-image{
  height: 100%;
  width: 30vw;
  max-width: 200px;
  min-width: 130px;
  background-color: rgb(170, 170, 170);
  float: left;
  margin-right: 10px;
  border-radius: 6px;
  overflow: hidden;
}

.result-image img {
  width: 100%;
  height: 100%;
}
.result-info{
  padding: .5em 1em;
  display: inline-block;
  height: 100%;
  max-width: 50%;

}

.result-purchase{
  position: absolute;
  right : 10px;
  bottom : 10%;
}

.result-title{
  font-weight: .5em;
  font-size: 1.1em;
}

.result-shop{
  font-size: .9em;
}


.result-price{
  font-size: .8em;
}


.result-description{
 display: none;
}
@media screen and (min-width:764px){
.search-grid{
   display: grid;
   grid-template-columns: 10% 1fr 10%;
   grid-template-rows: 120px 1fr;
   grid-template-areas: ". . ."
                        ". search-area ."
}

.search-result{
  min-height: 192px;
}



.result-description{
  display: block;
  font-size: .7em;
  color : rgb(131, 128, 128);
}

}

