<div class="main-grid">
  <div class="main-content-area">
    <div class="form-container">
      <form [formGroup]="su_form" (ngSubmit)="sign_up()">
        <fieldset>
          <legend>acquire</legend>
          <p style="text-align: center;">{{loginError}}</p>
          <div id="username-field">
            <input type="text" placeholder="username" formControlName="username" maxlength="15"/>
            <div class="form-error-msg" *ngIf="username.invalid && username.touched">
              <div *ngIf="username.errors.minlength">
                should atleast be {{firstname.errors.minlength.requiredLength }} characters
              </div>
            </div>
          </div>

          <div id="email-field">
            <input type="text" placeholder="email" formControlName="email" />
            <div class="form-error-msg" *ngIf="email.invalid && email.touched">
              invalid email e.g somename@provider.com
            </div>
          </div>

          <div id="password-field">
            <input type="password" placeholder="password" formControlName="password" />
            <div class="form-error-msg" *ngIf="password.invalid && password.dirty">
              should be atleast be 8 characters
            </div>
          </div>

          <div id="cpassword-field">
            <input type="password" placeholder="confirm password" formControlName="cpassword" />
            <div class="form-error-msg" *ngIf="confirm_password.dirty && !pass_cpass">passwords do not match</div>
          </div>
          <div class="form-error-msg" *ngIf="success_show">{{sign_up_success.message}}</div>
          <div *ngIf="loginError">{{loginError}}</div>
          <div>
            <input type="submit" [disabled]="!su_form.valid && !pass_cpass" value="Sign Up">
          </div>
        </fieldset>
      </form>
      <div id="sign-in-field">
        <a routerLink="/sign-in">Already have an account Sign In</a>
      </div>
    </div>
  </div>
</div>
<div id="background"></div>