.form-error-msg{
    color: red;
    font-size: 12px;
    text-align: left;
}

.main-content-area{
    z-index: 10;
}


.form-container{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding : 3px 15px;
    min-width: 300px;
    max-width: 500px;
    background-color: white;
    opacity: 1;
    border-radius: 5px;
}

legend {
    margin-bottom: 30px;
}

input{
   border: 1px solid skyblue;
}

#password-field, #email-field, #password-field, #cpassword-field{
    margin: 5px 0;
}

#sign-in-field{
    font-weight: 100;
    font-size: .8em
}

input {
    width: 100%;
}
#background{
    position:fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: url(../../../../assets/melon.svg), linear-gradient(to bottom, purple , #0ebfe2);
    z-index: 2;
    
}