
<div class="angle_image_group">
    <div id="aImg-container">
        <h5 class="image-header">Supporting Images</h5>
          <div id="image-slide" [formGroup]="image_group" style="position: relative; height: 250px; background-color: whitesmoke;">
            <ul id="display-area" formArrayName="angle_image" style="height: 250px; overflow: hidden; white-space: nowrap;" (click)="angle_images_input.click()">
             <div *ngIf="angle_img.controls.length>0; else select_img">
              <div class="angle-image-wrapper" style="position: relative; display: inline-block;width: 100%;" *ngFor="let image of angle_img.controls; index as i" [formGroupName]="i">
                      <div id="delete-icon" style="position: absolute; right: 0; top : 0; z-index: 20; padding: 3px;" (click)="delete(i, $event)">
                          <div style="border-radius: 50px; background-color: gray; padding: 5px; font-size: 14px; box-shadow: 2px 1px 2px rgb(143, 143, 143);" class="fa fa-trash-o"></div>
                        </div>
                    <img src="{{image.controls.src.value}}" class="angle-image" style="max-width: 100%; max-height: 250px;">
                  </div>
             </div>
             <ng-template #select_img>
              <div style="height: 100%; width: 100%">
                select image
              </div>
             </ng-template>
            </ul>
            <div id="left-indicator" style="position: absolute; left: 0; top: 45%; z-index: 20; background-color: grey; padding: 3px;" (click)="slide_prev()">
              <div class="fa fa-arrow-left"></div>
            </div>
            <div id="right-indicator" style="position: absolute; right: 0; top : 45%; z-index: 20; background-color: grey; padding: 3px;" (click)="slide_next()">
              <div class="fa fa-arrow-right"></div>
            </div>
  
          </div>
    </div>
  </div>
  
  <input #angle_images_input type="file" 
  multiple accept="image/*" style="display:none" (change)="file_upload($event)">
  