.fa-trash-o{
    position: absolute;
    right: 10px;
    color: red;
    z-index: 1000;
}

.fa-trash-o:hover{
    cursor: pointer;
}

.image-header{
    font-size: 13px;
}

.angle-image img{
    background-color: whitesmoke;
    height: 250px;
    width: 200px;
}

img{
    height: inherit;
    width: inherit;
}

#right-indicator:hover, #right-indicator:active, #left-indicator:hover, #left-indicator:active{
    color: white;
}