<main class="main-grid">
  <div class="main-content-area">
    <table>
      <thead>
        <th class="checkbox"><input type="checkbox" id="checkall"></th>
        <th>Title</th>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>