.new-banner{
  margin-top: 10px;
  height: 239px;
  background: url(http://localhost:3572/api/file/11112.png) 0px -10px no-repeat , linear-gradient(to right, #71d1dd , #8f999b);
  position: relative;
  overflow: hidden;
}


.adv-details{
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 50px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-align: center;
}

.adv-prod-details{
  position: absolute;
  left: 420px;
  top: 150px;
  display: inline-block;
  color: white;
  font-family: sans-serif;
  font-style: italic;
  display: none;
}

.adv-title{
  display: none;
}


.shop-now-btn{
  border-radius: 5px; 
  background-color: #0064f5;
  border-color: #0064f5;
  color: white;
  font-family: sans-serif;
  margin-left: -10px;
}


@media screen and (min-width : 769px){
  .new-banner{
    margin-top: 10px;
    height: 239px;
    background: url(http://localhost:3572/api/file/11112.png) 80px -10px no-repeat , linear-gradient(to right, #71d1dd , #8f999b);
    position: relative;
    overflow: hidden;
  }

  .adv-prod-details, .adv-title{
    display: inline-block;
  }

  .adv-details{
    right: 100px;
  }

  
}
