<div *ngFor="let topic of topics | async">
    <h5 style="margin-bottom: 30px">{{topic.topic}}</h5>
    <app-slider>
      <product 
        *ngFor="let product of topic.products" 
        [position]="current_position" 
        [product]="product"
        (width)="set_variables($event)">
      </product>
    </app-slider>
</div>

<div class="new-banner advert-banner">
  <div class="adv-prod-details">
    <div>Lenovo</div>
    <div>HDD 500GB</div>
    <div>RAM 4GB</div>
  </div>

  <div class="adv-details">
    <p class="adv-title">Hot new Deals at Incredible connections</p>
    <div class="adv-offer">

      dd
      <div>WAS <del>5999</del></div>
      <div>NOW 4999</div>
    </div><br>
    <div class="btn-container"><button class="shop-now-btn">SHOP NOW</button></div>
  </div>
</div>