<div class="slide-item" [style.left]="position" [style.width]="alter_width?alter_width:''">
  <div class="main-slide-content">
    <div class="product-box">
      <img 
        src="{{imgUrl}}/{{product.display_image}}?alt=media" 
        id="item_img" 
        style="width:100%; height: 180px;" 
        (click)="view_product(product.sku)"/>
    </div>
    <div class="product-name" style="margin-bottom: 10px; width: 100%; overflow: hidden; text-overflow: ellipsis;">
      <span class="title" style="float: left; overflow: hidden; text-overflow: ellipsis;">{{product.title}}</span>
    </div>
    <div>
      <div style="overflow: hidden; text-overflow: ellipsis; padding: 0 10px;">
        <span style="float: left">N$ {{product.list_price}}</span> 
        <small style="float: right; overflow: hidden; text-overflow: ellipsis;">{{product.shop}}</small>
      </div>
      <div style="float: right; padding-right: 10px;">
        <app-transact [product]="product"></app-transact>
      </div>
    </div>
  </div>
   <div [style.display]="show_form?'block':'none'" style="opacity: 0.6; background-color: black; position: absolute; top:0; height:100%; width:100%">
      <form #orderForm=ngForm (ngSubmit)="orderHandler(orderForm)">
        <div style="margin:10px 0">
          <input 
            type="number" 
            style="border-radius: 10px; text-align: center;" 
            min="1" 
            value="1"
            name="quantity"
            ngModel>
        </div>
        <div>
          <input 
            type="submit" 
            value="ok" 
            style="border-radius: 10px; border: none; width: 50px">
        </div>
      </form>
      <form #bidForm=ngForm (ngSubmit)="bidHandler(bidForm)">
        <div style="margin:10px 0">
          <input 
            type="number" 
            style="border-radius: 10px; text-align: center;" 
            min="1" 
            value="1"
            name="quantity"
            ngModel>
        </div>
        <div style="margin:10px 0">
          <input 
            type="number" 
            style="border-radius: 10px; text-align: center;" 
            min="1" 
            value="1"
            name="offer"
            placeholder="offer"
            ngModel>
        </div>
        <div>
          <input 
            type="submit" 
            value="ok" 
            style="border-radius: 10px; border: none; width: 50px">
        </div>
      </form>
  </div>
</div>
