.slide-item{
    position: relative;
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 145px;
    width: 50%;
    max-width: 200px;
    max-height: inherit;
    height: inherit;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin: 2px 3px;
    transition: all .3s linear;
    text-align: center;
    border-radius: 30px;
  
  }

  .title{
    display: none;
  }

  .product-box{
    width: 100%;
  }

  
  .product-name{
    display: inline-block;
  }

  img:hover{
    cursor: pointer;
  }


  @media screen and (min-width : 769px){

  }