<div [formGroup]="department_group">
  <div formArrayName="department" class="form-element">
    <div class="department-header">
      <span style="font-size: 13px;">Departments</span>
    </div>
    <span *ngFor="let department of department.value; index as z" [formGroupName]="z"
      style="font-size: 12px; padding: 4px; border-radius: 10px; background-color: gainsboro;">
      <input 
        class="department-input" 
        [style.width]="department.name.length+'ch'"
        style="
          border:none; 
          background-color:inherit; 
          margin: 5px;" 
        readonly
        type="text" 
        [value]="department.name" 
        formControlName="name">
      <span class="fa fa-trash-o" style="padding: 3px; background-color: gray; border-radius: 100%;" (click)="remove_department(z)"></span>
    </span>
  </div>
</div>
<div id="department-space" style="margin-top: 20px;">
  <div>
    <span 
      *ngFor="let d of dbDepartments | async" 
      (click)="add_department(d.name)" 
      style="
        font-size: 12px; 
        padding: 4px; 
        border-radius: 10px; 
        background-color: gainsboro;
        margin-bottom: 5px;">
      {{d.name}}
    </span>
  </div>
</div>