.product-table{
    width: 100%;
    margin-top: 20px;
    border-spacing: 0px;
}

#add-wrapper{
    float: right;
    clear: both;
    border-radius: 5px;
    background-color:rgb(10, 15, 80);
    color: white;
    padding: 5px 7px;
    margin-bottom: 10px;
}

.table-remove, .table-edit{
    width: 15%;
}
.table-remove, .table-edit{
    text-align: center;
}

.fa-edit:hover, .fa-remove:hover{
    color : rgb(179, 179, 184);
    cursor: pointer;
}

.table-quantity{
    width: 25%;
    padding-right: 10px;
}


.table-title{
    width : 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

thead{
    font-weight: 400;
    border-bottom: 1.2px solid rgb(179, 179, 184) ;
    background-color: rgb(10, 15, 80);
    color: white;

}

tbody {
    font-weight: 200
}

tbody tr:hover{
    cursor: pointer;
}

.table-sku, .table-price{
    display: none;
}

