<div routerLink="/admin/catalogue/add" id="add-wrapper"><span class="fa fa-plus"></span></div>
<table class="product-table">
  <thead class="table-head">
    <tr>
      <td class="table-sku">sku</td>
      <td class="table-title">title</td>
      <td class="table-price">price</td>
      <td class="table-quantity">quantity</td>
      <td class="table-edit" style="width: 15px"></td>
      <td class="table-remove" style="width: 15px"></td>
    </tr>
  </thead>
  <tbody *ngIf="product">>
    <tr *ngFor="let product of products | async">
      <td class="table-sku">{{product.sku}}</td>
      <td class="table-title">{{product.title}}</td>
      <td class="table-price">{{product.list_price}}</td>
      <td class="table-quantity">{{product.quantity}}</td>
      <td class="table-edit"><span class="fa fa-edit" routerLink="/admin/catalogue/edit"></span></td>
      <td class="table-remove"><span class="fa fa-trash-o" (click)="delete_handler(product.sku)"></span></td>
    </tr>
  </tbody>
</table>
<div *ngIf="!product" style="color: lightgray; margin-top:10px; text-align:center; margin-top: 20px; width:100%"><span>stock up your shop</span></div>
