<table id="offer-table">
  <thead>
    <tr>
      <td class="table-item">item</td>
      <td class="table-qty">qty</td>
      <td class="table-amount">amount</td>
    </tr>
  </thead>
  <tbody *ngIf="offers">
    <tr *ngFor="let offer of offers.products">
      <td class="table-item">{{offer.title}}</td>
      <td class="table-qty">{{offer.quantity}}</td>
      <td class="table-amount">{{offer.offer}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!offers;" style="color: lightgrey; text-align:center;margin-top: 20px;width:100%"><span>you have no offers</span></div>
