#offer-table{
    width: 100%;
    border-spacing:0;
}

.table-qty{
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}


.table-item{
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}


.table-amount{
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}
thead{
    font-weight: 400;
    border-bottom: 1.2px solid rgb(179, 179, 184) ;
    background-color: rgb(10, 15, 80);
    color: white;

}