<app-navigation></app-navigation>
<app-sidebar [color]="'rgb(10, 15, 80)'"></app-sidebar>
<div class="main-grid">
    <div class="main-content-area" [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
</div>
