<div *ngIf="prior_negotiations;">
  <h6 style="font-size: 15; font-weight: 300">negotiations</h6>
  <ul>
    <li *ngFor="let entry of prior_negotiations.products; index as i" [id]="'neg-'+i">
      <div style="position:relative;">
        <div style="font-size: 13px; font-weight: 250; display: inline;">{{entry.title}}</div>
        <div style="font-size: 11px; position: absolute; right : 10px; top: 20%; display: inline-block">
          <div style="width : 40px; overflow: hidden; text-overflow: ellipsis; float:left; white-space: nowrap;">
            {{entry.shop}}</div>
          <span class=" fa fa-square" style="color : red; margin: 0 10px;"></span>
          <span class="fa fa-pencil" style="cursor: pointer"
            (click)="change_negotiation('neg-'+i, entry.sku, entry.shop, entry.quantity, entry.offer)"></span>
        </div>
      </div>
    </li>
  </ul>
</div>
<form [formGroup]="negotiate" (ngSubmit)="form_handler()">
  <fieldset>
    <div class="input-item">
      <label for="initial-price">price</label>
      <input id="initial-price" type="text" [value]="negotiation_item$? negotiation_item$.price : ''" readonly>
    </div>
    <div id="offer-wrapper">
      <div id="offer-title">offer</div>
      <div class="input-item">
        <label for="offer-input">amount</label>
        <input id="offer-input" type="number" formControlName="offer">
      </div>
      <div class="input-item">
        <label for="quantity-input">qty</label>
        <input id="quantity-input" type="number" formControlName="quantity">
      </div>

      <div *ngIf="form_result" style="font-size: 12px; font-weight: 250; text-align: center">
        <div *ngIf="form_result.status; else failed"
          style="font-size: 12px; font-weight: 250; color: rgb(10, 126, 10); margin-top: 10px">
          offer {{form_result.message}}, wait for response
        </div>
        <ng-template>
          <div #failed style="color: red; margin-top: 10px">could not place offer. Retry</div>
        </ng-template>
      </div>

      <div id="submit-button-wrapper">
        <input id="submit-button" type="submit" value="proceed" [disabled]="quantity.invalid || offer.invalid">
      </div>

    </div>

  </fieldset>
</form>