#offer-title{
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
}

#negotiate-title{
    font-size: 15px;
    font-weight: 300;
}

.input-item{
    position: relative;
}

.input-item input{
    position: absolute;
    right: 5px;
    width: 100px;
    border : none;
    border-bottom: 1px solid gainsboro;
    background-color: inherit;
    font-size: 13px;
    font-weight: 300;
    text-align: right;
}

.input-item label{
    font-size: 12px;
    font-weight: 300;
}

.input-item input:focus{
    outline: none;
}

#quantity-input:focus, offer-input:focus{
    border-bottom: 1px solid lightskyblue;
}

#submit-button-wrapper{
    height: 25px;
    margin-top : 30px;
    text-align: center;
    
}
#submit-button{
    height: inherit;
    font-size: 14px;
    font-weight: 300;
    line-height: 0;
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
}