<div id='userBalanceWindow'>
  <ul>
    <li class="section">
      <div class="list-item" style="margin: 0">
          <span><span class="fa fa-credit-card"></span>balance</span>
          <span class="list-right" style="text-align: right"><span style="font-size: 11px">N$</span>400</span>
      </div>
    </li>
    <li class="section"><span
        class="fa fa-exchange"></span>transfer
      <div class="list-item">
        <span>to :</span><input class="list-right" type="text">
      </div>
      <div class="list-item">
          <span>amount :</span><input class="list-right"  type="text">
      </div>
      <div class="list-item">
          <span>password :</span> <input class="list-right"  type="text">
      </div>
      <div class="list-item" style=" margin-top: 15px; margin-bottom: 0;">
          <button style="width: 100%; bottom:0; height: 25px; font-size: 14px; line-height: 0">proceed</button>
        </div>
    </li>
    <li class="section">
        <span class="fa fa-long-arrow-down"></span><span>deposit</span>
        <div class="list-item">
            <span>card no. :</span> <input class="list-right"  type="text">
        </div>
        <div class="list-item">
            <span>password :</span> <input class="list-right"  type="text">
        </div>

        <div class="list-item" style=" margin-top: 15px; margin-bottom: 0;">
          <button style="width: 100%; height: 25px; font-size: 14px; line-height: 0">proceed</button>
        </div>

    </li>
  </ul>
</div>