.list-item{
    position: relative;
    margin: 10px 0;
}
.list-item input{
    border: none;
    border-bottom : 1px solid gainsboro;
    background-color: inherit
}

.list-right{
    position: absolute;
    right: 0;
    width: 120px;
    height: 20px;
}

.section{
    background-color: whitesmoke;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

input{
    outline: none;
}