
    .products-slide{
      position: relative;
      overflow: hidden;
    }
    #slide-inner{
      position: relative;
      max-width: 100vw;
      overflow: hidden;
      white-space: nowrap;
      padding: 5px 0;
    }

    dot:hover{
      background-color: #717171;
    }


/* slide controls */
    .slide-control{
      cursor: pointer;
      position: absolute;
      top: 40%;
      margin-top: -20px;
      background-color: #bbb;
      transition: background-color 0.5s ease;
      padding-top: 10px;
      opacity: 5;
    }
    .slide-control:hover{
      background-color: #717171;
    }
    .slide-control-prev{
      border-radius: 0px 6px 6px 0px;
      padding: 10px;
    }
    .slide-control-next{
      right: 0px;
      border-radius: 6px 0px 0px 6px;
      padding: 10px;
    }

