<div style="position: relative;" (window:load)="adjust_variables()" (window:resize)="adjust_variables()">
       <div class="products-slide" id="{{title}}" style="width: 100%">
         <div id="slide-inner">
          <ng-content></ng-content>
         </div>
         <div class="slide-indicators">
            <span class="slide-control-prev slide-control" data-slide="prev" (click)="slide_left()" *ngIf="initial_position<0">
                <span>&#10094;</span>
            </span>
            <span  class="slide-control-next slide-control" data-slide="next" (click)="slide_right()" *ngIf="show_right_slider">
                <span>&#10095;</span>
            </span>
          </div>
       </div>
 </div>

