<div style="position: relative">
  <span class="fa fa-ban"></span>blacklist
  <span style="position: absolute; right : 5px; font-size : 13px; font-weight: 300">empty
    <span class="fa fa-plus-square-o"></span></span>
</div>
<div style="position: relative">
  <span class="fa fa-check-circle-o"></span>whitelist
  <span style="position: absolute; right : 5px; font-size : 13px; font-weight: 300">empty
    <span class="fa fa-plus-square-o"></span></span>
</div>