<app-navigation></app-navigation>
<app-sidebar [color]="'#119ebd'"></app-sidebar>
<div class="main-grid">
    <div class="main-content-area" [@routeAnimations]="prepareRoute(outlet)" >
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
</div>