ul{
    list-style: none;
    height:100%;
}

li{
    display: inline-block;
    margin: 0 5px;
    height: calc( 100% - 2px);
}

li>div{
    margin-top: 20px;
}

li:hover{
    color: lightblue;
    cursor: pointer;
}

nav{
    position: fixed;
    width: 100%;
    background-color: rgb(10, 15, 80);
    z-index: 5000;
    color: white;
    height:80px;
}


.active-route{
    border-bottom: 2px solid white;
}

@media screen and (min-width: 768px){
    #menu-icon{
        display: none;
    }
}
