<nav>
    <ul>
      <li routerLink="catalogue" routerLinkActive="active-route" class="route"><div>catalogue</div></li>
      <li routerLink="orders" routerLinkActive="active-route" class="route"><div>orders</div></li>
      <li routerLink="offers" routerLinkActive="active-route" class="route"><div>offers</div></li>
      <li style="color: white; float:right; clear:both;"><div id="menu-icon" class="fa fa-bars" (click)="toggle_sidebar()"></div></li>
    </ul>
</nav>