<button title="negotiate price" (click)="get_negotiation_form(product.sku, product.list_price, product.retailer)">Bid</button>
<button title="order item" (click)="get_form(product.sku, product.title, product.list_price)">Order</button>