input{
    width: 100%;
    border:none;
    background-color: skyblue;
    text-align: center;

}

button{
    border-radius: 15px;
    border:none;
    background-color: rgb(24, 126, 241);
    padding: 5px 15px;
    color: white;
}