<div class="main-grid">
  <div class="main-content-area">
    <div style="margin: 0 auto; width: 300px; max-width: 90vw;  text-align: center;">
      <form>
        <div style="margin-bottom: 30px">create shop</div>
        <div style="margin-bottom: 10px;">
          <input type="text" placeholder="shop name">
        </div>
        <div style="margin-bottom: 10px;">
          <input type="text" placeholder="retail location">
        </div>
        <div>
          <input type="text" placeholder="catalogue">
        </div>
        <div style="margin: 20px;">
          <button>create</button>
        </div>
        <div style="text-align: center">
          <div style="display: inline-block; width: 33.33%">
            <span routerLink="/sign-in">sign in</span>
          </div>
          <div style="display: inline-block; width: 33.33%">
            <span routerLink="/sign-up">sign up</span>
          </div>
          <div style="display: inline-block; width: 33.33%">
            <span routerLink="/user">home</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>