/* You can add global styles to this file, and also import other style files */
.main-grid{
    display : grid;
    grid-template-columns: 2.5% 95% 2.5%;
    grid-template-rows : 90px 1fr 70px;
    grid-template-areas : 
                          ". . ."
                          ". main-content-area ."
                          ". . ."
  }

  * {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

  body * {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main-content-area{
    grid-area : main-content-area;
  }
  
  @media screen and (min-width : 900px){
    .main-grid{
      display : grid;
      grid-template-columns: 1fr 77% 1fr;
      grid-template-rows : 120px 1fr 40px;
      grid-template-areas : 
                            ". . ."
                            ". main-content-area ."
                            ". . ."

    }
    
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }