<app-form>

  <!-- <div style="float: left; width:50%; padding-right: 5px;" class="info-item" >
    <input type="number" placeholder="price" class="price-input" style="width: 100%;" >
  </div>
  <div style="float: left; width:50%; padding-left: 5px;" class="info-item">
    <input type="text" placeholder="qty" class="brand-input" style="width: 100%;">
  </div> -->
</app-form>